@charset 'utf-8';
#main{
    margin-left: 30%;
}
input{
    margin-top: 30px;
}
input type[tel]{
    width: 200px;
    height: 20px;
}
table{
    margin: 0 auto;
    width: 80%;
}
table,th,td{
    border: solid 1px;
}
.button1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
h1{
    width: 80%;
    margin: 0 auto;
}
#back_button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10%;
}