@charset 'utf-8';
header{
    width: 80%;
    margin: 0 auto;
}
table{
    margin: 0 auto; /*画面の真ん中にする*/
    width: 80%;     /*  真ん中にしたものを横幅80%*/
}
table tr td{
    width: 5em;     /* 画面サイズに左右されないいい感じになるやつ*/
    height: 5em;
    margin: 0 auto; 
    border: solid 1px black;
}
button.room_button{
    width: 100%; /*元は100*/
    height: 100%;
    margin: 0 auto;
}
button.bg_color0,.sample0{
    background: none;/*清掃情報の丸の色*/
    /*border-radius: 50%;
    position: relative;*/
}
button.bg_color1,.sample1{
    background: bisque;/*清掃情報の丸の色*/
    /*border-radius: 50%;
    position: relative;*/
}
button.bg_color2,.sample2{
    background: red;/*清掃情報の丸の色*/
    /*border-radius: 50%;
    position: relative;*/
}
/*客室のtable全体をリンクとして扱う*/
a {
    display:block;
    width: 100%;
    height: 100%;
    text-decoration: none;/*リンクのアンダーラインなし*/
    color: black;
}
a:hover{
    background-color: darkgray;
}
.content {
    display:inline-block;/*横に並ぶ*/
    width: 100%;
    height: 200%;
    text-decoration: none;/*リンクのアンダーラインなし*/
    color: black;
    /*background-color: darkgray;*/
}
.inner{
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
/*************日付の表示***********
#view_date{
    position: absolute;
    right: 10%;
}

button.button-size{
    font-size: 1em;
    width: 170px;
    height: 50px;
}
*/
/*戻る、完了ボタン*/
.button-area{
    width: 200px;
}
.button-area p{
    padding-right: 35px;
    float: left;
}