@charset 'utf-8';
header{
    width: 80%;
    margin: 0 auto;
}
main{
    width: 80%;
    margin: 0 auto;
}
ul{
    list-style: none;
}
table{
    text-align: center;
}
table th{
    font-size: 1.2em;
}
table tr td{
    height: 4em;
    margin: 0 auto; 
    border: solid 1px black;
}

a {
    display: block;
    text-decoration: none;/*リンクのアンダーラインなし*/
    color: black;
}

.button-position{
    display: -webkit-flex;/*横並び(2行)*/
    display: flex;
}