@charset 'utf-8';
header{
    width: 80%;
    margin: 0 auto;
}
footer{
    width: 80%;
    margin: 0 auto;
}
ul{
    list-style: none;
}
table{
    margin: 0 auto; /*画面の真ん中にする*/
    width: 80%;     /*  真ん中にしたものを横幅80%*/
    text-align: center;
}
table th{
    font-size: 1.2em;
}
table tr td{
    height: 4em;
    margin: 0 auto; 
    border: solid 1px black;
}

a {
    display: block;
    text-decoration: none;/*リンクのアンダーラインなし*/
    color: black;
}