@charset 'utf-8';
#main{
    margin: 0 auto;
    text-align: center;
}
/*ボタンサイズwidth200,height70px*/
input{
    margin-top: 30px;
    width: 200px;
    height: 70px;
}
/*上下左右中央配置*/
.central-configuration{
    display: flex;
    align-items: center;
    justify-content: center;
}
.simple-box{
    margin: 0 auto;
    width: 60%;
    padding: 3em 0;
    border: solid 3px black;
}
.simple-box h2{
    margin: 2em;
}
/*
dl {
   float: left;
   font-size: 20px;
   width: 20%;
}

dt {
    float: left;
    
}
dt:after{
    content: " : "
}*/
dl {
    background: gray;
    border: 1px solid #ddd;
    border-top: 0;
}
dl dt,
dl dd {
    padding: 10px;
    border-top: 1px solid #ddd;
}
dl dt {
    width: 13em;
    float: left;
    clear: both;
    font-weight: bold;
}
dl dd {
    background-color: #fff;
    border-left: 1px solid #ddd;
    margin-left: 13em;
}
textarea{
    width: 80%;
    height: 50px;
}